<div class="container">
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit()" action="" method="post">
    
    <fieldset>
      <h1>Registration Form</h1>

      <p class="field field-icon">
        <label for="username"><span><i class="fas fa-user"></i></span></label>
        <input #username="ngModel" type="text" name="username" ngModel id="username" required pattern="^[A-Z][a-z]+\s[A-Z][a-z]+$" class="error" placeholder="Mark Ulrich"> 
      </p>

      <!-- if error -->
      <ng-container *ngIf="username.touched && username.invalid">
        <!--{{username.errors | json}}-->
        <div *ngIf="username.errors?.['required']" class="alert alert-danger">
          Username is required!  
        </div>
        <div *ngIf="username.errors?.['pattern']" class="alert alert-danger" >
          Fullname must contain 2 names, start with capital letters, separated by space!  
        </div>
      </ng-container>
      
      <!-- end if error -->
      
      <p class="field field-icon">
        <label for="email"><span><i class="fas fa-envelope"></i></span></label>
        <input #email="ngModel" type="text" name="email" ngModel email="true" id="email" required class="error" placeholder="marк@gmial.com">
      </p>

      <ng-container *ngIf="email.touched && email.invalid">
        <div *ngIf="email.errors?.['email']" class="alert alert-danger">
          Please enter a valid email!  
        </div>
      </ng-container>

      <p class="field field-icon">
        <label for="tel"><span><i class="fas fa-phone"></i></span></label>
        <select name="tel" id="tel" class="tel">
          <option *ngFor="let tel of telSistems" [value]="tel">{{tel}}</option>
        </select>
        <input #tel="ngModel" type="number" name="tel" ngModel id="tel" required pattern="^\d{9}$" placeholder="888 888">
      </p>
      <ng-container *ngIf="tel.touched && tel.invalid">
        <!--{{username.errors | json}}-->
        <div *ngIf="tel.errors?.['required']" class="alert alert-danger">
          Phone is required!  
        </div>
        <div *ngIf="tel.errors?.['pattern']" class="alert alert-danger">
          The phone number must be a 9 digit number!  
        </div>
      </ng-container>

      <p class="field field-icon">
        <label for="building"><span><i class="fas fa-building"></i></span></label>
        <select name="building" ngModel id="building" class="building" required>
          <option *ngFor="let building of buildingSistems" [value]="building">{{building}}</option>
        </select>
      </p>

      <div ngModelGroup="passwords" #passwordsGroup="ngModelGroup">
        {{passwordsGroup.valid}}
        <p class="field field-icon">
          <label for="password"><span><i class="fas fa-lock"></i></span></label>
          <input #password="ngModel" type="password" name="password" ngModel id="password" required pattern="^\w{3,16}$" placeholder="******">
        </p>
        
        <p class="field field-icon">
          <label for="re-password"><span><i class="fas fa-lock"></i></span></label>
          <input #repass="ngModel" type="re-password" name="re-password" ngModel id="re-password" required  placeholder="******">
        </p>

        <ng-container *ngIf="passwordsGroup.touched && passwordsGroup.invalid || password.value !== repass.value">
          <div *ngIf="password.errors?.['pattern']" class="alert alert-danger">
            The password must be between 3 and 16 symbols-only letters and digits!  
          </div>
          <div *ngIf="password.value !== repass.value" class="alert alert-danger">
            Passwords don't match!
          </div>
          {{passwordsGroup.errors | json}}
        </ng-container>

      </div>

      <p>
        <button [disabled]="registrationForm.invalid" type="submit">Create Account</button>
      </p>

      <p>
        <button type="button" (click)="clearForm()">Clear</button>
      </p>
      
      <p class="text-center">
        Have an account?
        <a href="">Log In</a>
      </p>
      
    </fieldset>
  </form>
</div>